# .github/CODEOWNERS

# These owners will be the default owners for everything in the repo
*       @danielromeo

# Only allow specific team to approve PRs to main
main    @danielromeo

.github/workflows/* @danielromeo
